* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
a, button {
    outline: none;
    background: none;
    border: none;
}
