@import './module/layout';
@import './module/layoutMenuDetails';
@import './module/header';
@import './module/secBanner';
@import './module/secGeneral';
@import './module/secSolution';
@import './module/_secBrands';
@import './module/menuPageDetails';
@import './module/footer';
