@media (max-width: 1366px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
    }
}
@media (max-width: 1280px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
    .section__barnner .intro .des {
        font-size: 16px;
    }
}
@media (max-width: 1095px) {
    .solution__item {
        width: calc(100%/3 - 20px + 20px/3);

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    .section__barnner .intro .des {
        font-size: 14px;
    }
}
