footer {
    background-color: #2c5ba9;
}
.footer__background--top {
    background-color: #0f2c5c;
    height: 80px;
}
.footer__clipPath {
    clip-path: polygon(0 100%, 100% 15%, 100% 100%, 0% 100%);
    height: 100%;
    background-color: #2c5ba9;
    border-bottom: 1px solid transparent;
}
.footer__flex {
    display: flex;
    padding: 40px 0;
    & * {
        color: #cacaca;
    }
}
.footer__item {
    width: calc(100% / 3);
    text-align: center;    
}
.footer__item:first-child {
    span {
        font-size: 14px;
        margin-right: 20px;
        &:hover a {
            color: #fff;
        }
    }
}
.footer__item:nth-child(2) {
    & * {
        font-size: 18px;
    }
    & > div > div {
        margin-bottom: 5px;
        letter-spacing: 1px;
    }
    span {
        letter-spacing: 1px;
        &:hover a {
            color: #fff;
        }
    }
}
.footer__item:last-child {
    & > div {
        display: inline-block;
    }
    .social__list {
        display: flex;
    }
    .social__item {
        position: relative;
        margin-right: 15px;
        &:hover a {
            background-color: #fff;
            transition: all .4s;
        }
        &:hover i {
            color: #0f0fe9;
            transition: all .4s;
        }
        a {
            position: relative;
            display: block;
            width: 55px;
            height: 55px;
            border-radius: 50%;  
            transition: all .4s;         
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: #fff;
            font-size: 24px;
            transition: all .4s;
        }
    }
}