.secBanner__pageDetails {
    img {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
}
// === general section flex === //
.secMenuPageDetails > .container > .title {
    color: #0f2c5c;
    font-size: 28px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.secMenuPageDetails > .container > .generalFlex {
    padding: 20px 0;
    border-top: 1px solid #bdbbbb;
}
.generalFlex__list {
    display: flex;
    flex-wrap: wrap;
}
.generalFlex__item {
    box-sizing: border-box;
    padding: 40px 30px;
    width: calc(100%/3);
    margin-bottom: 15px;
    &:hover {
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    }
    & > .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    & .item {
        text-align: center;
    }
    & .item__icon {
        i {
            font-size: 90px;
            color: #0f2c5c;           
        }
    }
    & .item__image {
        img {
            width: 90px;
            height: 90px;
            object-fit: cover;
        }
    }
    & .item__title {
        margin: 20px 0;
        color: #0f2c5c;
        font-size: 28px;        
    }
    & .item__readMore {
        a {
            color: #2c5ba9;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

// === section ways === //
.secWays__title {
    color: #2c5ba9;
    font-size: 39px;
}
.secWays__des {
    margin: 20px 0;
    color: #0f2c5c;
    font-size: 20px;
    font-weight: 400;
}

.ways {
    & > .title {
        color: #0f2c5c;
        font-size: 28px;
    }
}

// === section TalkSolution === //
.secTalkSolution__sub {
    .flex {
        display: flex;
        & .item:first-child {
            width: 30%;
        }
        & .item:last-child {
            box-sizing: border-box;
            padding-left: 30px;
            width: 70%;
        }
    }
}
.secTalkSolution__first {
    margin-bottom: 20px;
    h1 {
        color:#0f2c5c;
        font-size: 28px;
        letter-spacing: 1px;
    }
    p {
        color: #0f2c5c;
        font-size: 20px;
        letter-spacing: .3px;
    }
}
.secTalkSolution__second {    
    .flex__sub {
        padding: 40px 30px;
        &:hover {
            box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
        }
    }
    .item__sub {
        text-align: center;        
    }
    .item__icon {
        font-size: 70px;
        color: #0f2c5c;       
    }
    .item__title {
        margin: 20px 0;
        font-size: 30px;
        color: #0f2c5c;
        letter-spacing: 1px;    
        overflow-wrap: break-word;    
    }
    & .item__readMore {
        a {
            color: #2c5ba9;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .form {        
        &__title {
            font-size: 18px;
            margin-bottom: 15px;
        }
        &__group {
            display: flex;
            align-items: center;
            margin: 10px 0;
            &--button {
                display: block;
                text-align: right;
            }
        }
        label {
            display: block;
            width: 100px;
            text-align: right;
            margin-right: 15px;
            font-size: 14px;
            font-weight: 600;
            color: #6d6c6c;
        }
        input, textarea {
            padding: 5px 10px;
            width: 200px;
        }
        textarea {
            height: 80px;
        }
        button {
            background-color: #ff0000;
            color: #fff;
            font-weight: 600;
            padding: 8px 20px;
            border-radius: 3px;
        }
    }
}

// === section product == //
.secProduct {
    .product {
        .item__icon {
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 2px solid #c9c6c6;
                
                transition: all .4s;
                &:hover {
                    background-color: #207cd3;
                    border: 2px solid  #207cd3;
                    transition: all .4s;
                }
            }
            i {
                font-size: 35px;
            }
        }
        .item__image {
            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}

// === contact me === //
.secContactMe {
    background-color: #2c5ba9;
}
.contactMe {
    padding: 30px 40px;

    &__flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        &:first-child {
            width: 75%;
        }
        h1 {
            color: #fff;
            letter-spacing: 2px;
            line-height: 30px;
        }
        a {
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            border: 1px solid #fff;
            background-color: #c83521;
            min-width: 150px;
            letter-spacing: 1.5px;
        }
    }
}

// === solving === //
.secSolving {
    .titleOne {
        margin: 30px 0 10px 0;
        font-size: 25px;
        color: #2c5ba9;
        letter-spacing: 1px;
    }
    .titleTwo {
        font-size: 30px;
        color: #0f2c5c;
        letter-spacing: 1px;
    }
}
.solving__item {
    padding-top: 50px;
    .flex {
        display: flex;
    }
    .item {
        box-sizing: border-box;
        padding: 0 20px;
        width: 50%;
    }
    .item__image {
        & > div {
            box-sizing: border-box;
            padding: 0 40px;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .item__content {
        .title {
            span {
                font-size: 25px;
                font-weight: 600;
                color: #2c5ba9;

                &:nth-child(2) {
                    margin: 0 10px;
                }
            }
        }
        .titleSub {
            margin: 10px 0 25px 0;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #0f2c5c;
        }
        .des {
            p {
                color: #3a3a38;
                line-height: 25px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

// === blog post === //
.blogPost__title {
    .flex {
        display: flex;
    }
    .item {
        &:first-child {
            padding-right: 10px;
            i {
                font-size: 54px;
                color: #0f2c5c;
            }
        }
        &:last-child {
            & > div:first-child {
                color: #023182;
                font-weight: 600;
                margin-bottom: 30px;
            }
            & > div:last-child {
                color: #757575;
                font-size: 18px;
            }
        }
    }
}
.blogPost__list {    
    .flex {
        display: flex;
    }
    .item {
        &:first-child {
            padding-right: 20px;
            & > div {
                box-sizing: border-box;
                width: 130px;
            }
            img {
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
        &:last-child {
            display: flex;           
            flex-direction: column;
            justify-content: space-between;

            box-sizing: border-box;
            width: 70%;
            padding: 5px 0;
            
            & > h1 {
                a {
                    font-size: 25px;
                    color: #2c5ba9;
                    &:hover {
                        color:#2e84ba;  
                    }
                }
            }
            & > h1,
            & > div {
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            & > div > span {
                font-size: 18px;
                color: #3a3a38;
            }
            .link__share {
                color: #3b537a; 
            }
        }
    }
}
.blogPost__item {
    padding: 20px 0;
}