.section__general {
    padding: 15px 0;    

    &--title {
        margin-bottom: 20px;
        & > span {            
            color: #0f2c5c;
            font-size: 20px;
        }        
        & > span:last-child {
            font-weight: 700;
        }
    }
}