.section__barnner {
    position: relative;
    background-image: url('./assets/images/banner.jpg');
    background-size: cover;
    width: 100%;
    height: 120vh;

    .intro {
        position: absolute;
        top: 64%;
        right: 0;
        width: 75%;
        .des {
            padding: 10px 30px 10px 10px;
            background-color: rgba(0,0,0,0.4);
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;
        }
        button {
            display: block;
            margin: 15px auto 0 auto;
            background-color: rgba(2, 49, 130, 0.75);
            border-radius: 25px;
            transition: all .4s;
            a {
                display: block;
                padding: 10px 30px;
                color: #ffffff;
                font-size: 24px;
                font-weight: 600;
                transition: all .4s;
            }

            &:hover {
                background-color: #ffffff;
                transition: all .4s;
                & > a {
                    color: #000000;
                    transition: all .4s;
                }
            }
        }
    }
}